$bianco: #ffffff;
$biancoSporco: #E0E0E0;
$bianchoCelestino:#daedf7;

$ArancioneChiaro:#ff8a00;
$arancione: #FF5722;
$arancione-scuro: #ff4500;

$bluAcceso:#1A237E;
$blu-scuro: #23374d;
$grigio-chiaro: #408ab4;
$grigio-chiarissimo: #c1bdbd;
$nero: #000000;

$Shadow-Box-Color: #aaa;
$ContenitoreNav: #36506c;